.roundedButton{
    border-radius: 3em;
    border: 1px solid #344e41;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    

    p{
        position: relative;
        z-index: 1;
        transition: color 0.4s linear;
    }

    &:hover{
        p{
            color: white;
        }
    }
}

.circle{
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}

@media only screen and (min-width: 641px){
    .roundedButton {
        padding: 15px 60px 15px 60px;
    }
}

@media only screen and (max-width: 640px){
    .roundedButton {
        padding: 15px 30px 15px 30px;
    }
}