.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  padding-top: 10%;
  background-color: #ccc5b9;
  z-index: 1;
  .slidingImagesContainer {
    overflow: hidden;
    .slider {
      display: flex;
      position: relative;
      gap: 2vw;
      width: 118vw;
      left: -20vw;
      margin: 2rem 0;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 10rem;
        height: 10rem;
        min-width: 8.75rem;
        border-radius: 1vw;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        .imageContainer {
          position: relative;
          width: 60%;
          height: 60%;
          user-select: none;
          img {
            object-fit: fill;
            object-position: center;
          }
        }
      }
    }
  }
  .circleContainer {
    position: relative;
    margin-top: 10%;

    .circle {
      height: 1000%;
      width: 100%;
      border-radius: 0 0 50% 50%;
      background-color: #ccc5b9;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
    }
  }
}
